
/* universal style */

*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
	
}

::selection{ 
	background-color: #ff6439;
	color: black;
}

.call, .call-fav{
	display: none; 
}

a{
	text-decoration: none; 
	color: white;
	font-size: 1rem; 
}

p{
	font-size: 1rem; 
	/* font-family: 'Cuprum', sans-serif; */
	
}

[class*="col-"]{
	width: 100%;
}

:root{
	--r: #fe3c08;
	--i: 'Italianno', cursive;
}

.down-border{
	border-bottom: none; 
	font-family: var(--i);
}

.flex-center{
	display: flex; 
	justify-content: center; 
	align-items: center;
}
/* universal style */



/* heading start */

.heading::after{
	content: ''; 
	clear: both; 
	display: table; 
}

.logo{
	width: 35px;
	height: auto; 
	display: block; 
	margin: auto;
	padding: 7px 0 5px 0;
}

.navbar{
	background-color: black;
	display: flex; 
	align-items: center; 
	position: sticky; 
	top: 0px;
	z-index: 99; 
}

.logo-img{
	flex: 0.1;
	padding-left: 5px;
}

.nav-link{
	width: 100%; 
	padding: 5px;
	background-color: black;
	display: grid; 
	grid-template-columns: auto auto auto;
	flex: 0.9;
	flex-wrap: wrap; 
}

.navbar .logo-img a:hover{
	background-color: transparent; 
}

.navbar a{
	font-size: 0.8rem;
	padding: 8px 15px; 
	text-transform: uppercase;
	display: block;
	width: auto; 
	margin: 0px auto; 
	text-align: center;
	border-radius: 7px;
	font-family: 'Roboto', sans-serif;
	transition: 0.3s;
}

.navbar a:hover{ 
	background-color: #fe3c08; 
	color: white; 
}

.heading{
	color: white;
	width: 100%; 
	min-height: auto; 
	padding: 10px 0 30px 0; 
	text-align: center;
	position: relative;
	
	background-image: url("images/home background.jpg"); 
	background-size: cover; 
	background-position: center; 
	background-attachment: fixed; 
	background-repeat: no-repeat;
}

.home{
	font-family: 'Roboto', sans-serif;
	padding-top: 100px;
}

.my-image{
	width: 200px; 
	height: auto; 
	text-align: center; 
	margin: auto;
	border-radius: 50%; 
	display: block; 
}

.heading h1{
	font-size: 2.1rem;
	padding-top: 10px;
}

.heading h3{
	font-size: 1.5rem;
	padding: 5px; 
}

.heading p{
	width: 300px; 
	margin: 0 auto 30px auto;
	padding: 5px; 
	color: lightgray;
}

/* heading end */


.home-btn{
	font-size: 1.4rem; 
	background-color: black;
	color: white; 
	text-align: center; 
	width: 100%; 
	display: block;
	height: 6.5vh;
	font-size: 1rem;
	border: none;
	border-top: 1px solid #aaa; 
	border-bottom: 1px solid #aaa; 
	position: sticky; 
	top: 0px; 
	z-index: 9;
	cursor: pointer;
	transition: .1s; 
}

.home-btn:hover{
	background-color: #111; 
}


/* about start  */

.vh-about{
	width: 70%; 
	height: 65px; 
	margin: auto auto 0 auto; 
	position: absolute; 
	bottom: 0px; 
	visibility: hidden;
}

.about{
	padding: 30px 0 60px 0; 
	text-align: center; 
	background-color: #333; 
	color: white;
}

.about::after{
	content: ''; 
	clear: both; 
	display: table; 
}



.about-me-heading-desk{
	display: none; 
}

.about-me-heading h4{
	display: none; 
	color: #fe3c08;
}



.about h1{
	font-family: 'Italianno', cursive;
	font-size: 2.8rem;
	margin-bottom: 15px; 
	
	/* background-color: #fe3c08; */
}

.about-img{
	width: 230px; 
	height: auto; 
	border: 2px solid #fe3c08;
}

.about-me-desc{
	padding-top: 15px; 
	width: 365px; 
	text-align: center;
	margin: auto; 
	font-size: 1rem; 
}

.bio{
	width: 365px; 
	margin: 20px auto; 
	border: 2px solid #fe3c08;
	text-align: left;
	padding: 5px;
	padding-left: 60px;
	
}

.bio::after{
	content: ''; 
	clear: both; 
	display: table; 
}


.bio a,p{
	display: block;
	margin: 20px 0px;
}

.bio a:hover{
	color: #fe3c08;
	text-decoration: underline;
}

.cv-btn{
	border: none; 
	background-color: #fe3c08;
	font-size: .9rem;
	padding: 10px 15px; 
	color: white; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: .3s;
}

.cv-btn:hover{
	background-color: #ff0608;

}


/* about end  */



/* projects start */

.projects-heading{
	background-color: #2b2b2b;
	color: white; 
	text-align: center;
	padding: 30px;
	padding-bottom: 5px;
}

.projects-heading:after{
	content: ''; 
	clear: both; 
	display: table; 
}

.projects-heading h4{
	display: none; 
	color: var(--r); 
}

.projects-heading h1{
	font-size: 4rem; 
	font-family: var(--i);
}

.project-body{
	background-color: #2b2b2b;
	padding: 15px;	
}

.project-body img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 20px;
	border-radius: 5px;
}

.developing a:hover{
	cursor: default;
}





/* projects end */



/* favourite start */

.favourite::after{
	content: ''; 
	clear: both; 
	display: table
}

.favourite{
	color: black; 
	background-color: #dcdcdc; 
}
	
.favourite-heading{
	padding-top: 30px; 
	padding-bottom: 5px;
	text-align: center;
}

.favourite-heading h1{
	font-size: 3rem; 
	font-family: var(--i);
	padding: 0; 
}

.favourite-heading h4{
	display: none; 
	color: var(--r);
	
	
}

.fav-img{
	margin: 15px; 
	cursor: pointer; 
}

.fav-img img{
	width: 100%;
	height: auto;
	display: block;
}

/* favourite end */




/* photography start */

.photography{
	background-color: #dcdcdc;
}

.photography-heading{ 
	padding: 30px;
	padding-bottom: 5px;
	text-align: center; 
}

.photography-heading h1{
	font-family: var(--i);
	font-size: 3rem; 
	color: black; 
}

.photography-heading h4{ 
	display: none; 
	color: var(--r); 
}

.photo-icon{
	font-size: 2rem; 
	color: white;  
	padding: 0 10px;
	margin-top: 7px; 
}

.photography-img-div{
	padding-top: 15px; 
}

.photography-img-div::after{
	content: ''; 
	clear: both; 
	display: table
}

#p1{
	margin-top: 0px;
}

.photography-img{
	margin: 15px; 
	background-color: white; 
	margin-bottom: 25px; 
}

.photography-img img{
	width: 100%;
	height: auto;
	display: block;
}

.img-react{
	cursor: pointer;
}

.react-icon{
	font-size: 1.1rem;
	padding: 8px;
	color: black;
}

.react-icon:hover:first-child{
	color: red;
}

.react-icon:hover:nth-child(2):not(.download-b){
	color: #0489ff;
}

.react-icon:hover:nth-child(3):not(.download-b){
	color: #0489ff;
}

.download{
	padding-left: 10px;
	background-color: white; 
	border: none; 
	float: right;
	Display: flex; 
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .2s;
}

.download:hover{
	background-color: var(--r);
}

.d-text{
	font-size: 1rem;
	
}

/* photography end */



/* contact us start here */

.contact{
	background-color: #444; 
	color: white; 
	height: 90vh;
}

.contact-heading{
	padding: 30px; 
	text-align: center; 
}

.contact-heading h1{
	font-size: 4rem; 
	font-family: var(--i);
}

.contact-form{
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
}

.form{
	padding: 5px 8px 13px 8px; 
	width: 90%; 
	height: auto;
	border-radius: 5px;
	box-shadow: 1px 1px 7px #222, -1px 0px 7px #222;
}

.input{
	display: flex; 
	flex-direction: column;
}

label{
	margin: 10px 0 6px 0;
}

.form input, textarea{
	padding: 7px 5px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	resize: none; 
}

.form textarea{
	height: 100px;
}

.form-btn{
	margin-top: 15px;
	text-align: center;
}

.btn{
	padding: 7px 15px;
	font-size: 16px;
	border: none; 
	border-radius: 5px;
	background-color: var(--r);
	color: white;
	cursor: pointer;
	transition: .2s;
}

.btn:hover{
		background-color: #ff0608;
}

/* contact us ends here */



/* footer start */
.footer{
	background-color: #222;
	padding: 50px 0px; 
}

.subscribe { 
	flex-direction: column;
	padding: 5px 15px; 
}

.subscribe input{
	font-size: 16px; 
	padding: 8px 5px; 
	width: 70%;
	margin-top: 7px;
	border: none; 
	border-radius: 5px; 
}

.subscribe button{
	background-color: red;
	color: white;
	transition: transform .3s;
}

.subscribe button:hover{
	background-color: #E20603;
}

.hr-style{
	border: 1px solid #111;
	width: 80%;
	margin: auto; 
	margin-top: 20px; 
}

.media-btn{
	padding: 15px;
	display: flex; 
	justify-content: center; 
	align-items: center;
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
}

.media-btn li{ 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-wrap: wrap;
	background-color: white; 
	width: 45px;
	height: 45px;
	padding: 10px;
	margin: 5px;
	border: 1px solid white;
	border-radius: 50%;
	cursor: pointer; 
	transition: .3s;
}

.media-btn li:nth-child(1){ 
	color: #1877f2;
}

.media-btn li:nth-child(2){ 
	color: red;
}

.media-btn li:nth-child(3){ 
	color: red;
}

.media-btn li:nth-child(4){ 
	color: #00ACEE;
}

.media-btn li:nth-child(5){ 
	color: #0A66C2;
}

.media-btn li:hover{
	background-color: transparent; 
} 

.copyright{
	color: white; 
	flex-direction: column; 
	padding: 40px 0 0 0; 
	font-size: 16px; 
	line-height: 1.7;
}

.c{
	display: inline-block; 
	color: #B6B6B6;
}













/* footer end */